/* app css stylesheet */
div.card {
  background-color: Gainsboro;
  color: #292F33;
  padding: 20px 30px;
  margin: 10px;
  width: 400px;
  border-radius: 2px;
}
div.card p {
  font-size: 1.2em;
  margin-top: 5px;
  margin-bottom: 2em;
}
div.card div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
div.card div span {
  background-color: rgba(0, 0, 0, 0.3);
  color: GhostWhite;
  padding: 5px 10px;
  border-radius: 10px;
  margin: auto 0px;
}
div.card div a {
  background-color: #1DB1E7;
  color: GhostWhite;
  padding: 5px 10px;
  border-radius: 2px;
  text-decoration: none;
  line-height: 1.7em;
}
